<div class="container text-center">
  <!--  dùng Bootstrap-->
  <h1 class="text-info">color works!</h1>
  <p class="text-danger">Đây là chữ màu đỏ</p>
  <p class="text-warning">Đây là chữ màu vàng</p>
  <p class="text-success">Đây là chữ màu xanh lá cây</p>
  <p class="text-primary">Đây là chữ màu xanh dương</p>
  <p class="text-black">Đây là chữ màu đen</p>
  <p class="text-secondary">Đây là chữ màu xám</p>

  <!--  data binding thay đổi màu-->
  <p [style.color]="color1">Đây là chữ màu đỏ</p>
  <p [style.color]="color2">Đây là chữ màu vàng</p>
  <p [style.color]="color3">Đây là chữ màu xanh lá cây</p>
  <p [style.color]="color4">Đây là chữ màu xanh dương</p>
  <p [style.color]="color5">Đây là chữ màu đen</p>
  <p [style.color]="color6">Đây là chữ màu xám</p>

</div>
