<app-header></app-header>
<app-navbar></app-navbar>
<h1 class="text-center" style="color:crimson;">Employee List</h1>
<a class="btn btn-primary mb-2 ml-4" href="" role="button">Create new employee</a>

<form action="" method="get" class="form-inline my-2 my-lg-0 mr-4" style="float:right">
  <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
</form>

<table class="table table-striped table-bordered">
  <tr>
    <th>#</th>
    <th>Employee Name</th>
    <th>Employee Birthday</th>
    <th>Employee Id Card</th>
    <th>Employee Salary</th>
    <th>Employee Phone</th>
    <th>Employee Email</th>
    <th>Employee Address</th>
    <th>Position</th>
    <th>Education Degree</th>
    <th>Division</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
    <tr>
      <td ></td>
      <td ></td>
      <td ></td>
      <td></td>
      <td></td>
      <td ></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <a class="btn btn-warning" href="" role="button">Edit</a>
      </td>
      <td>
        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelId">
          Delete
        </a>
      </td>
    </tr>
</table>

<app-footer></app-footer>
