<!--<app-home></app-home>-->
<app-header></app-header>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!--<app-create-customer></app-create-customer>-->
<!--<app-list-employee></app-list-employee>-->
<!--<app-create-employee></app-create-employee>-->
<!--<app-list-service></app-list-service>-->
<!--<app-create-service></app-create-service>-->
<!--<app-list-contract></app-list-contract>-->
<!--<app-create-contract></app-create-contract>-->
<!--<app-list-contract-detail></app-list-contract-detail>-->
<!--<app-create-contract-detail></app-create-contract-detail>-->

