<app-header></app-header>
<app-navbar></app-navbar>
<h1 class="text-center" style="color:crimson">Contract List</h1>
<a class="btn btn-primary mb-2 ml-4" href="" role="button">Create new contract</a>

<table class="table table-striped table-bordered">
  <tr>
    <th>#</th>
    <th>Contract Id</th>
    <th>Contract Start Date</th>
    <th>Contract End Date</th>
    <th>Contract Deposit</th>
    <th>Contract Total Money</th>
    <th>Employee</th>
    <th>Customer</th>
    <th>Service</th>
    <th>Attach Service</th>
    <th>Add Attach Service</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <a class="btn btn-warning" href="" role="button">Edit</a>
    </td>
    <td>
      <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelId">
        Delete
      </a>
    </td>
  </tr>
</table>

<app-footer></app-footer>
