<h1 class="text-center" style="color:crimson">Create Customer</h1>
<a class="btn btn-primary mb-2 ml-4" [routerLink]="'/customer-list'" role="button">Customer list</a>

<form [formGroup]="createForm" (ngSubmit)="submitForm()">
  <div class="container">
    <div class="form-group">
      <label>Customer Code:</label>
      <input formControlName="customerCode" type="text" class="form-control" >
    </div>

    <div class="form-group">
      <label>Customer Name:</label>
      <input formControlName="customerName" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Customer Birthday:</label>
      <input formControlName="customerBirthday" class="form-control" type="date" >
    </div>

    <div class="form-group">
      <label>Customer Gender:</label>
      <select formControlName="customerGender" class="form-control" >
        <option value="0" >Male</option>
        <option value="1" >Female</option>
      </select>
    </div>

    <div class="form-group">
      <label>Customer Id Card:</label>
      <input formControlName="customerIdCard" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Customer Phone:</label>
      <input formControlName="customerPhone" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Customer Email:</label>
      <div class="input-group mb-3">
        <input formControlName="customerEmail" type="text" class="form-control" aria-label="Recipient's username"
               aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">@gmail.com</span>
      </div>
    </div>

    <div class="form-group">
      <label>Customer Address:</label>
      <input formControlName="customerAddress" type="text" class="form-control" >
    </div>

    <div class="form-group">
      <label>Customer Type:</label>
      <select class="form-control" name="customerType" formControlName="customerType">
        <option *ngFor=" let ct of customerTypes" [ngValue]="ct"> {{ct.name}}</option>
      </select>
    </div>

    <div>
      <input class="btn btn-warning" type="submit" value="Create customer">
    </div>
  </div>
</form>


