<app-header></app-header>
<app-navbar></app-navbar>
<h1 class="text-center" style="color:crimson">Service List</h1>

<a class="btn btn-primary mb-2 ml-4" href="" role="button">Service Home</a>

<form action="" method="get" class="form-inline my-2 my-lg-0 mr-4" style="float:right">
  <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
</form>

<table class="table table-striped table-bordered">
  <tr>
    <th>#</th>
    <th>Service Code</th>
    <th>Service Name</th>
    <th>Service Area</th>
    <th>Service Cost</th>
    <th>Service Max People</th>
    <th>Standard Room</th>
    <th>Description Other Convenience</th>
    <th>Poll Area</th>
    <th>Number Of Floors</th>
    <th>Service Type</th>
    <th>Rent Type</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <a class="btn btn-warning" href="" role="button">Edit</a>
    </td>
    <td>
      <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelId">
        Delete
      </a>
    </td>
  </tr>
</table>

<app-footer></app-footer>
