<h1 class="text-center" style="color:crimson">Edit Contract Detail</h1>
<a class="btn btn-primary mb-2 ml-4" [routerLink]="'/contract-detail-list'" role="button">Contract Detail list</a>

<form [formGroup]="editForm" (ngSubmit)="submitForm()">
  <div class="container">
    <div class="form-group">
      <label>Contract Id:</label>
      <select class="form-control" name="contract" formControlName="contract" [compareWith]="compareFn">
        <option *ngFor=" let c of contracts" [ngValue]="c"> {{c.id}}</option>
      </select>
    </div>
    <p style="color: red" *ngIf="editForm.controls.contract.hasError('required') &&
        editForm.controls.contract.dirty">
      Please input contract!
    </p>

    <div class="form-group">
      <label>Attach Service:</label>
      <select class="form-control" name="attachService" formControlName="attachService" [compareWith]="compareFn">
        <option *ngFor=" let a of attachServices" [ngValue]="a"> {{a.name}}</option>
      </select>
    </div>
    <p style="color: red" *ngIf="editForm.controls.attachService.hasError('required') &&
        editForm.controls.attachService.dirty">
      Please input attachService!
    </p>

    <div class="form-group">
      <label>Quantity:</label>
      <input type="text" class="form-control" formControlName="quantity">
    </div>
    <p style="color: red" *ngIf="editForm.controls.quantity.hasError('required') &&
        editForm.controls.quantity.dirty">
      Please input quantity!
    </p>
    <p style="color: red" *ngIf="editForm.controls.quantity.hasError('min') &&
        editForm.controls.quantity.dirty">
      Please enter a number greater than 0!
    </p>

    <div>
      <input class="btn btn-warning" type="submit" value="Edit contract detail" [disabled]="editForm.invalid">
    </div>
  </div>
</form>
